html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

button {
  background-color: transparent;
  font-size: 14px;
  color: black;
  border: 1px rgb(211, 211, 211) solid;
  padding: 10px 50px;
  margin: 18px 0px;
  transition: all ease-out 0.3s;
}

button:hover {
  background-color: black;
  color: white;
  border: 1px black solid;
}

a {
  text-decoration: none;
  color: var(--primary);
}

input[type='text'] {
  background-color: transparent;
  color: #444444;
  padding-left: 20px;
  height: 39px;
  font-size: 12px;
  border-radius: 0px;
  border: 0.1px solid var(--gray);
}

input[type='text']:focus {
  background-color: transparent;
  border: 0.1px solid #202020;
  box-shadow: 0 0 0 0rem rgba(212, 212, 212, 0.733) !important;
}

input[type='password'] {
  background-color: transparent;
  color: #444444;
  padding-left: 20px;
  height: 39px;
  font-size: 12px;
  border-radius: 0px;
  border: 0.1px solid var(--gray);
}

input[type='password']:focus {
  background-color: transparent;
  border: 0.1px solid #202020;
  box-shadow: 0 0 0 0rem rgba(212, 212, 212, 0.733) !important;
}

/*===\ Global Variables \===*/

:root {
  --primary: #019ef7;
  --sky: #cceafc;
  --light: #f6f6f6;
  --gray: #d4d4d4;
  --dark: #2b2b2b;
  --medium-dark: #616161;

  --radius: 25px;

  --small-shadow: 5px 5px 15px 0 rgba(139, 139, 139, 0.2);
  --large-shadow: 0px 7px 17px 0 rgba(97, 97, 97, 0.3);

  --xlarge-text: 60px;
  --large-text: 40px;
  --medium-text: 25px;
  --small-text: 11px;
}

/*===\ Animations \===*/

@keyframes slide-up {
  0% {
    transform: translateY(120%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slide-up-small {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/*===\ Navbar \===*/

.top-navbar {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  position: fixed;
  webkit-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 0.1px solid var(--gray);
  z-index: 4;
  height: 50px;
  /* animation: 0.5s navbar-slide-down 0.4s ease-out both; */
}

.top-navbar h4 {
  margin: 0px;
  letter-spacing: 4px;
  padding: 0px 30px;
}

.user-info {
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top-navbar p {
  margin: 0px;
  padding-left: 40px;
  color: var(--medium-dark);
  font-size: var(--small-text);
  font-weight: 600;
}

/*===\ App Body \===*/

.app-body {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/*===\ Contacts \===*/

.contacts {
  width: 30%;
  border-right: 0.1px solid var(--gray);
  height: 83vh;
  overflow-y: auto;
  padding-top: 90px;
}

.search-bar {
  height: 41px;
  webkit-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
  background-color: rgba(255, 255, 255, 0.3);

  width: 30%;
  position: fixed;
  top: 50px;
  border: 0.1px solid var(--gray);
  /* border-bottom: 0px; */
  border-top: 0px;
  z-index: 2;
  overflow-x: hidden;
}

.search-input {
  width: 96%;
  border: 0px;
  height: 40px;
  background-color: transparent;
  border-radius: 0px;
  padding-left: 20px;
  border: 0px;
  border-color: transparent;
  font-size: 12px;
  color: #202020;
}

.contact {
  height: 80px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 0.1px solid var(--gray);
  cursor: pointer;
  transition: all ease-in-out 0.3s;

  animation: 0.5s slide-up 0s ease-out both;
}


.contact:hover {
  background-color: var(--primary);
  border-bottom: 0.1px solid var(--primary);
  box-shadow: var(--large-shadow);
}

.contact h5 {
  color: var(--dark);
  transition: all ease-in-out 0.3s;
}

.contact:hover h5 {
  color: white;
}

.profile-pic {
  display: flex;
  margin: 0px 15px;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  background-color: var(--primary);
  color: white;
  transition: all ease-in-out 0.3s;
}


.selected-contact {
  height: 80px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 0.1px solid var(--primary);
  background-color: var(--primary);
  border-bottom: 0.1px solid var(--primary);
  box-shadow: var(--large-shadow);
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  
  animation: 0.5s slide-up 0s ease-out both;
}

.selected-contact h5 {
  color: white;
  transition: all ease-in-out 0.3s;
}

.selected-contact .profile-pic {
  border-bottom: 0.1px solid var(--primary);
  background-color: white;
  transition: all ease-in-out 0.3s;
  color: var(--primary);
  
}

.contact:hover .profile-pic {
  color: var(--primary);
  background-color: white;
}

.profile-pic p {
  margin: 0px;
  font-weight: 500;
  font-size: 15px;
}

/*==============\  Login  \===========*/

.login-page {
  padding: 110px 300px 100px 300px;
}

@media (max-width: 768px) {
  .login-page {
    padding: 110px 30px 100px 30px;
  }
}

.form-group {
  width: 100%;
  margin: 10px 0px;
}

.form-group input {
  width: 94%;
}

.alert {
  padding: 5px 0px;
  font-size: var(--small-text);
  color: rgb(155, 42, 42);
}

.login-page-form h1 {
  text-align: center;
  margin-bottom: 40px;
  animation: 1s slide-up-small 0.2s ease-out both;
}

.login-page-form {
  animation: 0.6s slide-up-small ease-out both;
}

.login-btn {
  background-color: var(--primary);
  border-color: var(--primary);
  color: white;
  width: 100%;
  border-radius: 30px;
}

.login-btn a {
  color: white;
}

.login-btn:hover {
  background-color: #1370bd;
  border-color: #1370bd;
  color: white;
  width: 100%;
}

.login-btn:disabled {
  background-color: #acd6ee;
  border-color: #acd6ee;
}

/*========\ Chat Section \========*/

.chat-section {
  width: 70%;
  background-color: var(--light);
  height: 83vh;
  overflow-y: auto;
  padding-top: 95px;
  position: relative;
}

.no-chat {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-chat p{
  font-size: var(--small-text);
  color: var(--medium-dark);
  padding-bottom: 70px;
}

.message {
  width: 100%;
  /* background-color: #019ef7; */
  display: flex;
  align-items: center;
}

.message-box {
  padding: 15px 20px;
  border-radius: 25px;
  width: 250px;
  margin: 5px 15px;
}

.receiver {
  justify-content: flex-start;
}

.receiver-message-box {
  background-color: var(--gray);
}

.sender {
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.sender-message-box {
  background-color: var(--primary);
  color: white;
}

.time {
  color: rgb(71, 71, 71);
  font-size: var(--small-text);
}

.free-space {
  padding-top: 50px;
}

.contact-name {
  width: 70%;
  position: fixed;
  height: 40px;
  border-top: 0.1px solid var(--gray);
  border-left: 0.1px solid var(--gray);
  top: 50px;
  right: 0px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  webkit-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: var(--small-shadow);
}

.message-input {
  width: 70%;
  position: fixed;
  height: 50px;
  border-top: 0.1px solid var(--gray);
  border-left: 0.1px solid var(--gray);
  bottom: 0px;
  right: 0px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  webkit-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: var(--small-shadow);
}

.message-input .form-group {
  margin-left: 5px;
}

.message-input button {
  margin: 0px;
  letter-spacing: 2px;
  color: var(--primary);
  padding: 0px 10px;
  padding-right: 30px;
  font-weight: 600;
  cursor: pointer;
  border: 0px;
  transition: all ease-in-out 0.3s;
}

.message-input button:disabled:hover {
  color: var(--primary);
}

.message-input button:hover {
  color: #0b78b8;
  background-color: transparent;
  border: 0px;
}
